In [10]:
import pandas as pd
import os

In [11]:
folder_path = '/Users/annele/PycharmProjects/Glas-O-Mat/data'

'''df_ConstraintsContainerSites = pd.read_csv(os.path.join(folder_path, 'ConstraintsContainerSites.csv'))'''
df_ConstructionTypes = pd.read_csv(os.path.join(folder_path, 'ConstructionTypes.csv'))
df_ContainerActivities = pd.read_csv(os.path.join(folder_path, 'ContainerActivities.csv')) 
df_ContainerCountHistory = pd.read_csv(os.path.join(folder_path, 'ContainerCountHistory.csv'))
df_ContainerLocationAttributes = pd.read_csv(os.path.join(folder_path, 'ContainerLocationAttributes.csv'))
df_Containers = pd.read_csv(os.path.join(folder_path, 'Containers.csv'))
df_Customers = pd.read_csv(os.path.join(folder_path, 'Customers.csv'))
df_DefaultVehicleAvailability = pd.read_csv(os.path.join(folder_path, 'DefaultVehicleAvailability.csv'))
df_DistanceMatrix = pd.read_csv(os.path.join(folder_path, 'DistanceMatrix.csv'))
df_Locations = pd.read_csv(os.path.join(folder_path, 'Locations.csv'))
df_MaterialTypes = pd.read_csv(os.path.join(folder_path, 'MaterialTypes.csv'))
df_Phones = pd.read_csv(os.path.join(folder_path, 'Phones.csv'))
df_SpecialLocationAttributes = pd.read_csv(os.path.join(folder_path, 'SpecialLocationAttributes.csv'))

# Drop Test-Phone

In [12]:
df_ContainerActivities_filtered = df_ContainerActivities[~df_ContainerActivities['PHONE_ID'].str.startswith('TKQ1', na=False)]
df_ContainerActivities_filtered

,TRANSACTION_ID,CONTAINER_ID,SLIDER_LEVEL,CV_LEVEL,SENSOR_LEVEL,IMAGE_ID,PHONE_ID,RECORDED_AT,COMMENT,IS_EMPTIED,LATITUDE,LONGITUDE,CREATED_AT,UPDATED_AT,ROUTE_ID
0,1,1001101101100271111,30,NaN,NaN,1001101101100271111/2023-09-28T06:36:48.022095...,TP1A.220624.014_2,2023-09-26 06:36:48.0,NaN,1,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN
1,2,1001101101100271211,20,NaN,NaN,1001101101100271211/2023-09-28T06:36:05.355751...,TP1A.220624.014_2,2023-09-26 06:36:05.0,NaN,1,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN
2,3,1001101101100271311,10,NaN,NaN,1001101101100271311/2023-09-28T06:37:16.029149...,TP1A.220624.014_2,2023-09-26 06:37:16.0,NaN,0,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN
3,4,1001101101100191111,0,NaN,NaN,1001101101100191111/2023-09-28T06:51:15.117682...,TP1A.220624.014_2,2023-09-26 06:51:15.0,NaN,0,49.448544,7.769812,2023-10-13 11:18:58.0,NaN,NaN
4,5,1001101101100191211,10,NaN,NaN,1001101101100191211/2023-09-28T06:51:43.824174...,TP1A.220624.014_2,2023-09-26 06:51:44.0,NaN,0,49.448544,7.769812,2023-10-13 11:18:58.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41503,61150,1001101101100531112,90,NaN,NaN,1001101101100531112/2024-10-17T14:47:10.767846...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:11.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:32.0,2024-10-17 12:47:32.0,2024-10-17-1001101101-0
41504,61151,1001101101100531211,20,NaN,NaN,1001101101100531211/2024-10-17T14:46:43.691739...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:46:44.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:33.0,2024-10-17 12:47:33.0,2024-10-17-1001101101-0
41505,61152,1001101101100531212,90,NaN,NaN,1001101101100531212/2024-10-17T14:46:54.523517...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:46:55.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:33.0,2024-10-17 12:47:33.0,2024-10-17-1001101101-0
41506,61153,1001101101100531311,20,NaN,NaN,1001101101100531311/2024-10-17T14:47:19.611355...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:20.0,NaN,0,49.494200,49.494200,2024-10-17 12:47:34.0,2024-10-17 12:47:34.0,2024-10-17-1001101101-0
41507,61154,1001101101100531312,10,NaN,NaN,1001101101100531312/2024-10-17T14:47:27.912185...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:28.0,NaN,0,49.494200,49.494200,2024-10-17 12:47:35.0,2024-10-17 12:47:35.0,2024-10-17-1001101101-0

# Drop Darmstadt Container

In [13]:
# add Location ID
df_ContainerActivities_filtered['LOCATION_ID'] = df_ContainerActivities_filtered['CONTAINER_ID'].apply(lambda x: str(x)[:-4])
df_ContainerActivities_filtered

/var/folders/hp/y7wgcxwd5s7ff9cjh270v5v40000gp/T/ipykernel_37510/3204126992.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ContainerActivities_filtered['LOCATION_ID'] = df_ContainerActivities_filtered['CONTAINER_ID'].apply(lambda x: str(x)[:-4])

,TRANSACTION_ID,CONTAINER_ID,SLIDER_LEVEL,CV_LEVEL,SENSOR_LEVEL,IMAGE_ID,PHONE_ID,RECORDED_AT,COMMENT,IS_EMPTIED,LATITUDE,LONGITUDE,CREATED_AT,UPDATED_AT,ROUTE_ID,LOCATION_ID
0,1,1001101101100271111,30,NaN,NaN,1001101101100271111/2023-09-28T06:36:48.022095...,TP1A.220624.014_2,2023-09-26 06:36:48.0,NaN,1,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
1,2,1001101101100271211,20,NaN,NaN,1001101101100271211/2023-09-28T06:36:05.355751...,TP1A.220624.014_2,2023-09-26 06:36:05.0,NaN,1,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
2,3,1001101101100271311,10,NaN,NaN,1001101101100271311/2023-09-28T06:37:16.029149...,TP1A.220624.014_2,2023-09-26 06:37:16.0,NaN,0,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
3,4,1001101101100191111,0,NaN,NaN,1001101101100191111/2023-09-28T06:51:15.117682...,TP1A.220624.014_2,2023-09-26 06:51:15.0,NaN,0,49.448544,7.769812,2023-10-13 11:18:58.0,NaN,NaN,100110110110019
4,5,1001101101100191211,10,NaN,NaN,1001101101100191211/2023-09-28T06:51:43.824174...,TP1A.220624.014_2,2023-09-26 06:51:44.0,NaN,0,49.448544,7.769812,2023-10-13 11:18:58.0,NaN,NaN,100110110110019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41503,61150,1001101101100531112,90,NaN,NaN,1001101101100531112/2024-10-17T14:47:10.767846...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:11.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:32.0,2024-10-17 12:47:32.0,2024-10-17-1001101101-0,100110110110053
41504,61151,1001101101100531211,20,NaN,NaN,1001101101100531211/2024-10-17T14:46:43.691739...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:46:44.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:33.0,2024-10-17 12:47:33.0,2024-10-17-1001101101-0,100110110110053
41505,61152,1001101101100531212,90,NaN,NaN,1001101101100531212/2024-10-17T14:46:54.523517...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:46:55.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:33.0,2024-10-17 12:47:33.0,2024-10-17-1001101101-0,100110110110053
41506,61153,1001101101100531311,20,NaN,NaN,1001101101100531311/2024-10-17T14:47:19.611355...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:20.0,NaN,0,49.494200,49.494200,2024-10-17 12:47:34.0,2024-10-17 12:47:34.0,2024-10-17-1001101101-0,100110110110053
41507,61154,1001101101100531312,10,NaN,NaN,1001101101100531312/2024-10-17T14:47:27.912185...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:28.0,NaN,0,49.494200,49.494200,2024-10-17 12:47:35.0,2024-10-17 12:47:35.0,2024-10-17-1001101101-0,100110110110053

In [14]:
# filter Darmstadt
locations_filtered = df_Locations[df_Locations['POSTALCODE'].astype(str).str.startswith(('64', '0'))]
locations_filtered

,LOCATION_ID,GEO_LAT,GEO_LON,LOCATION_NAME,CITY,STREET,POSTALCODE,IS_ACTIVE,DISPOSITION_AREA_ID,ACCESS_TYPE,HAS_POSITION_CHANGED
4,100110210191,-1.000000,-1.000000,Unknown Location,Unknown City,Unknown Street,00000,1,NaN,NaN,0
233,100210110101000,49.840475,8.654622,Auf der Marienhöhe,"Darmstadt, Eberstadt","Auf der Marienhöhe, Seminargelände",64297,1,1.002101e+09,not_public,0
234,100210110101001,49.897911,8.682296,Meißnerweg / Grundstraße | Am Supermarkt,"Darmstadt, Kranichstein",Gruberstraße / Bartningstraße 19,64289,1,1.002101e+09,public,0
235,100210110101002,49.868770,8.633972,Berliner Allee | Gegenüber Freie Montessori-Sc...,"Darmstadt, Darmstadt-West","Berliner Allee 6, Nähe Spreestraße",64295,1,1.002101e+09,public,0
236,100210110101003,49.858439,8.652741,Orangeriegarten | Am Parkplatz Orangerie,"Darmstadt, Messel","Parkplatz vor Orangerie (Bessunger Str. 44), Z...",64285,1,1.002101e+09,public,0
...,...,...,...,...,...,...,...,...,...,...,...
387,100210110101154,49.866988,8.626853,Mina-Rees-Straße | An der Bushaltestelle,"Darmstadt, Darmstadt-West",Mina-Rees-Straße bei Bushaltestelle (Unterflur...,64295,1,1.002101e+09,public,0
388,100210110101155,49.887893,8.647576,Senselderweg | Vor Einfahrt EAD,"Darmstadt, Darmstadt-Nord",Sensfelderweg 33 (EAD Recyclingstation),64293,1,1.002101e+09,public,0
389,100210110101156,49.860903,8.678359,El-Lissitzky-Straße / Alarich-Weiss-Straße | M...,"Griesheim,",El-Lissitzky-Straße / Alarich-Weiss-Straße,64347,1,1.002101e+09,public,0
390,100210110101157,49.850306,8.642504,Noackstraße,"Darmstadt, Messel",Noackstraße,64285,1,1.002101e+09,public,0
391,100210110101158,49.845568,8.644227,Franklinstraße,"Darmstadt, Messel",Franklinstraße 32,64285,1,1.002101e+09,public,0

In [15]:
# drop containers in Darmstadt
df_ContainerActivities_filtered['LOCATION_ID'] = df_ContainerActivities_filtered['LOCATION_ID'].astype(str)
locations_filtered['LOCATION_ID'] = locations_filtered['LOCATION_ID'].astype(str)

df_ContainerActivities_filtered = df_ContainerActivities_filtered[~df_ContainerActivities_filtered['LOCATION_ID'].isin(locations_filtered['LOCATION_ID'])]
df_ContainerActivities_filtered

/var/folders/hp/y7wgcxwd5s7ff9cjh270v5v40000gp/T/ipykernel_37510/773642630.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ContainerActivities_filtered['LOCATION_ID'] = df_ContainerActivities_filtered['LOCATION_ID'].astype(str)
/var/folders/hp/y7wgcxwd5s7ff9cjh270v5v40000gp/T/ipykernel_37510/773642630.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations_filtered['LOCATION_ID'] = locations_filtered['LOCATION_ID'].astype(str)

,TRANSACTION_ID,CONTAINER_ID,SLIDER_LEVEL,CV_LEVEL,SENSOR_LEVEL,IMAGE_ID,PHONE_ID,RECORDED_AT,COMMENT,IS_EMPTIED,LATITUDE,LONGITUDE,CREATED_AT,UPDATED_AT,ROUTE_ID,LOCATION_ID
0,1,1001101101100271111,30,NaN,NaN,1001101101100271111/2023-09-28T06:36:48.022095...,TP1A.220624.014_2,2023-09-26 06:36:48.0,NaN,1,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
1,2,1001101101100271211,20,NaN,NaN,1001101101100271211/2023-09-28T06:36:05.355751...,TP1A.220624.014_2,2023-09-26 06:36:05.0,NaN,1,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
2,3,1001101101100271311,10,NaN,NaN,1001101101100271311/2023-09-28T06:37:16.029149...,TP1A.220624.014_2,2023-09-26 06:37:16.0,NaN,0,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
3,4,1001101101100191111,0,NaN,NaN,1001101101100191111/2023-09-28T06:51:15.117682...,TP1A.220624.014_2,2023-09-26 06:51:15.0,NaN,0,49.448544,7.769812,2023-10-13 11:18:58.0,NaN,NaN,100110110110019
4,5,1001101101100191211,10,NaN,NaN,1001101101100191211/2023-09-28T06:51:43.824174...,TP1A.220624.014_2,2023-09-26 06:51:44.0,NaN,0,49.448544,7.769812,2023-10-13 11:18:58.0,NaN,NaN,100110110110019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41503,61150,1001101101100531112,90,NaN,NaN,1001101101100531112/2024-10-17T14:47:10.767846...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:11.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:32.0,2024-10-17 12:47:32.0,2024-10-17-1001101101-0,100110110110053
41504,61151,1001101101100531211,20,NaN,NaN,1001101101100531211/2024-10-17T14:46:43.691739...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:46:44.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:33.0,2024-10-17 12:47:33.0,2024-10-17-1001101101-0,100110110110053
41505,61152,1001101101100531212,90,NaN,NaN,1001101101100531212/2024-10-17T14:46:54.523517...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:46:55.0,NaN,1,49.494200,49.494200,2024-10-17 12:47:33.0,2024-10-17 12:47:33.0,2024-10-17-1001101101-0,100110110110053
41506,61153,1001101101100531311,20,NaN,NaN,1001101101100531311/2024-10-17T14:47:19.611355...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:20.0,NaN,0,49.494200,49.494200,2024-10-17 12:47:34.0,2024-10-17 12:47:34.0,2024-10-17-1001101101-0,100110110110053
41507,61154,1001101101100531312,10,NaN,NaN,1001101101100531312/2024-10-17T14:47:27.912185...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:28.0,NaN,0,49.494200,49.494200,2024-10-17 12:47:35.0,2024-10-17 12:47:35.0,2024-10-17-1001101101-0,100110110110053

In [16]:
# save to csv
df_ContainerActivities_filtered.to_csv(os.path.join(folder_path, 'modified_data/ContainerActivities_filtered.csv'), index=False)