In [4]:
import pandas as pd

# Locations

In [5]:
#df_locations_new = pd.read_csv('/Users/annele/Library/CloudStorage/OneDrive-zebrafant.ai/BA/Data/location_export.csv')
df_locations_new = pd.read_csv('/Users/annele/PycharmProjects/Glas-O-Mat/data/Locations.csv')
df_locations_new['LOCATION_ID'] = df_locations_new['LOCATION_ID'].astype(str)
df_locations_new

,LOCATION_ID,GEO_LAT,GEO_LON,LOCATION_NAME,CITY,STREET,POSTALCODE,IS_ACTIVE,DISPOSITION_AREA_ID,ACCESS_TYPE,HAS_POSITION_CHANGED
0,100110110101,49.493983,7.844887,Jakob Becker Mehlingen,Mehlingen,An d. Heide 10,67678,1,1.001101e+09,private,0
1,100110110191,49.503797,7.851304,Schirmbeck,Mehlingen,Lindberg-Allee 45,67678,1,1.001101e+09,private,0
2,100110110201,49.493983,7.844887,Jakob Becker Mehlingen,Mehlingen,An d. Heide 10,67678,1,1.001101e+09,private,0
3,100110110291,49.503797,7.851304,Schirmbeck,Mehlingen,Lindberg-Allee 45,67678,1,1.001101e+09,private,0
4,100110210191,-1.000000,-1.000000,Unknown Location,Unknown City,Unknown Street,00000,1,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
395,100310110101104,50.258766,9.009344,Recyclinghof A,Metropolis,Alte Straße 38,54321,1,1.003101e+09,public,0
396,100310110101105,52.049840,8.993340,Brandenburger Tor,Metropolis,Morgenstraße 89,54321,1,1.003101e+09,public,0
397,100310110101106,51.911000,8.809850,Theater,Metropolis,Poststraße 4,54321,1,1.003101e+09,public,0
398,100310110101107,51.110000,8.808500,Einkaufszentrum,Metropolis,Poststraße 30,54321,1,1.003101e+09,public,0
399,100310110101108,51.100000,8.085000,Cafe Mert,Metropolis,Lessingstraße 1a,54321,1,1.003101e+09,public,0

In [6]:
df_locations_old = pd.read_csv('/Users/annele/Library/CloudStorage/OneDrive-zebrafant.ai/BA/Data/20241017_database_export/Locations.csv')
df_locations_old['LOCATION_ID'] = df_locations_old['LOCATION_ID'].astype(str)
df_locations_old

,LOCATION_ID,GEO_LAT,GEO_LON,LOCATION_NAME,CITY,STREET,POSTALCODE,IS_ACTIVE,DISPOSITION_AREA_ID,ACCESS_TYPE,HAS_POSITION_CHANGED
0,100110110101,49.493983,7.844887,Jakob Becker Mehlingen,Mehlingen,An d. Heide 10,67678,1,1.001101e+09,private,0
1,100110110191,49.503797,7.851304,Schirmbeck,Mehlingen,Lindberg-Allee 45,67678,1,1.001101e+09,private,0
2,100110110201,49.493983,7.844887,Jakob Becker Mehlingen,Mehlingen,An d. Heide 10,67678,1,1.001101e+09,private,0
3,100110110291,49.503797,7.851304,Schirmbeck,Mehlingen,Lindberg-Allee 45,67678,1,1.001101e+09,private,0
4,100110210191,-1.000000,-1.000000,Unknown Location,Unknown City,Unknown Street,00000,1,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
395,100310110101104,50.258766,9.009344,Recyclinghof A,Metropolis,Alte Straße 38,54321,1,1.003101e+09,public,0
396,100310110101105,52.049840,8.993340,Brandenburger Tor,Metropolis,Morgenstraße 89,54321,1,1.003101e+09,public,0
397,100310110101106,51.911000,8.809850,Theater,Metropolis,Poststraße 4,54321,1,1.003101e+09,public,0
398,100310110101107,51.110000,8.808500,Einkaufszentrum,Metropolis,Poststraße 30,54321,1,1.003101e+09,public,0
399,100310110101108,51.100000,8.085000,Cafe Mert,Metropolis,Lessingstraße 1a,54321,1,1.003101e+09,public,0

In [7]:
# show the location ids that are in the new data but not in the old data
df_locations_new[~df_locations_new['LOCATION_ID'].isin(df_locations_old['LOCATION_ID'])]

Empty DataFrame
Columns: [LOCATION_ID, GEO_LAT, GEO_LON, LOCATION_NAME, CITY, STREET, POSTALCODE, IS_ACTIVE, DISPOSITION_AREA_ID, ACCESS_TYPE, HAS_POSITION_CHANGED]
Index: []

In [8]:
# show the location ids that are in the old data but not in the new data
df_locations_old[~df_locations_old['LOCATION_ID'].isin(df_locations_new['LOCATION_ID'])]

Empty DataFrame
Columns: [LOCATION_ID, GEO_LAT, GEO_LON, LOCATION_NAME, CITY, STREET, POSTALCODE, IS_ACTIVE, DISPOSITION_AREA_ID, ACCESS_TYPE, HAS_POSITION_CHANGED]
Index: []

In [9]:
'''
Location csv file from 20241017_database_export is the same as the location_export.csv file.
'''

'\nLocation csv file from 20241017_database_export is the same as the location_export.csv file.\n'

# Activities

In [10]:
df_activities = pd.read_csv('/Users/annele/Library/CloudStorage/OneDrive-zebrafant.ai/BA/Data/activities_export.csv')
df_activities

,TRANSACTION_ID,CONTAINER_ID,SLIDER_LEVEL,CV_LEVEL,SENSOR_LEVEL,IMAGE_ID,PHONE_ID,RECORDED_AT,COMMENT,IS_EMPTIED,LATITUDE,LONGITUDE,CREATED_AT,UPDATED_AT,ROUTE_ID,LOCATION_ID
0,2,1001101101100271211,20,NaN,NaN,1001101101100271211/2023-09-28T06:36:05.355751...,TP1A.220624.014_2,2023-09-26 06:36:05,NaN,1,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
1,1,1001101101100271111,30,NaN,NaN,1001101101100271111/2023-09-28T06:36:48.022095...,TP1A.220624.014_2,2023-09-26 06:36:48,NaN,1,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
2,3,1001101101100271311,10,NaN,NaN,1001101101100271311/2023-09-28T06:37:16.029149...,TP1A.220624.014_2,2023-09-26 06:37:16,NaN,0,49.455948,7.791700,2023-10-13 11:18:58.0,NaN,NaN,100110110110027
3,6,1001101101100191311,10,NaN,NaN,1001101101100191311/2023-09-28T06:50:59.338075...,TP1A.220624.014_2,2023-09-26 06:50:59,NaN,0,49.448544,7.769812,2023-10-13 11:18:58.0,NaN,NaN,100110110110019
4,4,1001101101100191111,0,NaN,NaN,1001101101100191111/2023-09-28T06:51:15.117682...,TP1A.220624.014_2,2023-09-26 06:51:15,NaN,0,49.448544,7.769812,2023-10-13 11:18:58.0,NaN,NaN,100110110110019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41458,61152,1001101101100531212,90,NaN,NaN,1001101101100531212/2024-10-17T14:46:54.523517...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:46:55,NaN,1,49.494200,49.494200,2024-10-17 12:47:33.0,2024-10-17 12:47:33.0,2024-10-17-1001101101-0,100110110110053
41459,61149,1001101101100531111,90,NaN,NaN,1001101101100531111/2024-10-17T14:47:02.646031...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:03,NaN,1,49.494200,49.494200,2024-10-17 12:47:31.0,2024-10-17 12:47:31.0,2024-10-17-1001101101-0,100110110110053
41460,61150,1001101101100531112,90,NaN,NaN,1001101101100531112/2024-10-17T14:47:10.767846...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:11,NaN,1,49.494200,49.494200,2024-10-17 12:47:32.0,2024-10-17 12:47:32.0,2024-10-17-1001101101-0,100110110110053
41461,61153,1001101101100531311,20,NaN,NaN,1001101101100531311/2024-10-17T14:47:19.611355...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:20,NaN,0,49.494200,49.494200,2024-10-17 12:47:34.0,2024-10-17 12:47:34.0,2024-10-17-1001101101-0,100110110110053
41462,61154,1001101101100531312,10,NaN,NaN,1001101101100531312/2024-10-17T14:47:27.912185...,UP1A.231005.007_0a1ae090352d8dcc,2024-10-17 14:47:28,NaN,0,49.494200,49.494200,2024-10-17 12:47:35.0,2024-10-17 12:47:35.0,2024-10-17-1001101101-0,100110110110053

In [11]:
'''
Less data points (45) because data points from the demo phone ('TKQ1') were removed.
'''

"\nLess data points (45) because data points from the demo phone ('TKQ1') were removed.\n"